#parse("templates/settings/set-settings.vm")

<style type="text/css">
.jwf-field-label {
	width: 20%;
}
</style>

<form onsubmit="if (this.submitted) return false; this.submitted = true; return true" name="jiraform" method="post" action="WatcherFieldSettings!edit.jspa">
	<table class="jiraform maxWidth">
		<tbody>
			<tr class="titlerow">
				<td class="jiraformheader" colspan="2"><h3 class="formtitle">Edit Settings</h3></td>
			</tr>
	    	
	    	<tr class="hidden"><td colspan="2"></td></tr>
			
			<tr>
				<td class="fieldLabelArea jwf-field-label">
			    	$i18n.getText("watcherfield.settings.item.ignorePermissions.name")
				</td>
				<td class="fieldValueArea" bgcolor="#ffffff">
	            	<input type="radio" #if(${ignorePermissions} == true) checked="" #end name="ignorePermissions" value="true" onClick="alert('Warning: This setting circumvents JIRA \'Manage Watcher\' permission.\nOnly set this if you absolutely need to.');"> ON
	            	&nbsp;
	            	<input type="radio" #if(${ignorePermissions} == false) checked="" #end name="ignorePermissions" value="false"> OFF
	            	<br>
	            	<span class="subText">
	                	$i18n.getText("watcherfield.settings.item.ignorePermissions.desc")
	            	</span>
	        	</td>
			</tr>
			<tr>
				<td class="fieldLabelArea jwf-field-label">
			    	$i18n.getText("watcherfield.settings.item.ignoreWatcherPermissions.name")
				</td>
				<td class="fieldValueArea" bgcolor="#ffffff">
	            	<input type="radio" #if(${ignoreWatcherPermissions} == true) checked="" #end name="ignoreWatcherPermissions" value="true" onClick="alert('Warning: This setting circumvents JIRA "Browse Issue" requirement for watchers.\nOnly set this if you absolutely need to.');"> ON
	            	&nbsp;
	            	<input type="radio" #if(${ignoreWatcherPermissions} == false) checked="" #end name="ignoreWatcherPermissions" value="false"> OFF
	            	<br>
	            	<span class="subText">
	                	$i18n.getText("watcherfield.settings.item.ignoreWatcherPermissions.desc")
	            	</span>
	        	</td>
			</tr>
			<tr>
	        	<td class="jiraformfooter jwf-field-label">&nbsp;</td>
				<td colspan="1">
					<input type="submit" class="spaced " title="Press Ctrl+s to submit form" accesskey="s" id="edit_property" value="Update" name="Update">
					<input type="button" onclick="location.href='WatcherFieldSettings.jspa'" value="Cancel" name="WatcherFieldSettings.jspa" title="Cancel (Ctrl + `)" accesskey="`" id="cancelButton">
				</td>
			</tr>
		</tbody>
	</table>
</form>