#parse("templates/settings/set-settings.vm")

<table class="tableBorder maxWidth" cellpadding="3" cellspacing="1">
    <tr>
        <td bgcolor="#f0f0f0" colspan="2">
        	<h3 class="formtitle">$i18n.getText("watcherfield.settings.name")</h3>
    	</td>
    </tr>
	<tr>
	    <td class="rowAlternate" width="40%">
	    	<b>$i18n.getText("watcherfield.settings.item.ignorePermissions.name")</b>
	    	<div class="description" style="padding: 0 0 0 15px">$i18n.getText("watcherfield.settings.item.ignorePermissions.desc")</div>
    	</td>
	    
	    <td class="rowNormal"
	    #if(${ignorePermissions.equals(true)})
	    	style="color: #00bb00;">$i18n.getText("admin.common.words.on")
	    #else
	        style="color: #bb0000;">$i18n.getText("admin.common.words.off")
	    #end
	    </td>
	</tr>
	<tr>
	    <td class="rowAlternate" width="40%">
	    	<b>$i18n.getText("watcherfield.settings.item.ignoreWatcherPermissions.name")</b>
	    	<div class="description" style="padding: 0 0 0 15px">$i18n.getText("watcherfield.settings.item.ignoreWatcherPermissions.desc")</div>
    	</td>
	    
	    <td class="rowNormal"
	    #if(${ignoreWatcherPermissions.equals(true)})
	    	style="color: #00bb00;">$i18n.getText("admin.common.words.on")
	    #else
	        style="color: #bb0000;">$i18n.getText("admin.common.words.off")
	    #end
	    </td>
	</tr>
</table>
<br/>
<table class="tableBorder maxWidth" cellspacing="1" cellpadding="3">
	<tbody>
		<tr bgcolor="#f0f0f0">
			<td align="center" colspan="2" class="colHeaderLink">
				<a href="$baseurl/secure/project/EditWatcherFieldSettings!default.jspa" id="edit_watcher_field_settings"><b>Edit Configuration</b></a>
			</td>
		</tr>
	</tbody>
</table>